body,
        html {
            height: 100%;
            margin: 0;
        }

        .background-1 {
            background-image: url("img/ramon-salinero-vEE00Hx5d0Q-unsplash.png");
        }
        
        .background-2 {
            background-image: url("img/aron-visuals-bZZp1PmHI0E-unsplash.png");
        }
        
        .background-3 {
            background-image: url("img/christopher-burns-Kj2SaNHG-hg-unsplash.png");

        }
        
        .background-4 {
            background-image: url("img/tim-mossholder-1NnP799xWDw-unsplash.png");
        }
        
        .bg {
            height: 94%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .mutual_div {
            width: 70%;
            margin: auto;
        }

        .div-of-first-bg {
            padding: 20px 0px;
        }

        .menu {
            font-family: 'GT Haptik';
            text-decoration-line: none;
            color: white;
            font-weight: 800;
            float: right;
            font-size: 20px;
        }

        .shake-swiss {
            width: 23%;
        }

        .readMore_Button {
            padding-top: 12px;
            padding-bottom: 12px;
            width: 150px;
            text-align: center;
            border-radius: 22px;
            background: none;
            color: white;
            border: 1.4px solid;
        }

        .inside_of_the_button {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
        .three_divs {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }

        .firstDiv {
            font-family: Helvetica;
            font-size: 35px;
            margin-bottom: 35px;
        }

        .secondDiv {
            font-family: Helvetica;
            font-size: 66px;
            font-weight: 400;
        }

        .thirdDiv {
            margin-top: 35px;
        }

        .white_space {
            height: 6%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Helvetica;
        }

        .scroll_down {
            font-size: 17px;
        }


        .div-of-second-bg {
            padding-top: 150px;
            padding-bottom: 150px;
            font-family: Helvetica;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .left_div {
            font-size: 27px;
        }

        .left-part-of-div-of-second-bg {
            color: #D60B1A;
        }

        .right_div {
            width: 715px;

        }

        .right-part-of-div-of-second-bg {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .first-mutual-font-size {
            font-size: 27px;
        }
        .second-mutual-font-size {
            font-size: 17px;
        }

        .second-right-part-second-bg {
            height: 51px;
            margin-top: 30px;
        }
        

        .third_bg {
            background-color: #D60B1A;
        }

        .div-of-third-bg {
            padding-top: 150px;
            padding-bottom: 150px;
            font-family: Helvetica;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .left-part-of-div-of-third-bg {
            color: white;
        }

        .right-part-of-div-of-third-bg {
            color: white;
        }

        .fourth_bg {
            background-color: white;
        }

        .div-of-fourth-bg {
            padding-top: 150px;
            padding-bottom: 150px;
            font-family: Helvetica;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .left-part-of-div-of-fourth-bg {
            color: #D60B1A;
        }


        .fifth_bg {
            background-color: black;
            border-bottom: 1px solid #707070;
        }

        .div-of-fifth-bg {
            padding-top: 150px;
            padding-bottom: 150px;
            width: 45%;
            margin: auto;
            text-align: center;
            color: white;
            font-family: Helvetica;
        }
        .title-of-div-of-fifth-bg {
            font-size: 25px; 
            letter-spacing: 2.1px;
        }
        .text-under-the-title {
            font-size: 40px; 
            padding-top: 65px;
        }

        .three-rows-of-div-of-fifth-bg {
            font-size: 20px;
            width: 100%;
            border-bottom: gray 1px solid;
            padding-bottom: 5px;
            text-align: left;
        }

        .first-row-fifth-bg {
            padding-top: 65px;
        }

        .second-and-third-row {
            padding-top: 15px;
        }

        .div-of-third-button {
            padding-top: 65px;
        }
        
        .third_button {
            color: white; 
            border: 1px solid;
            background: none;
        }
        
        .inside_of_the_third_button {
            color: white; 
            text-decoration: none;
            font-size: 18px;
        }

        .sixth_bg {
            background-color: black;
        }

        .div-of-sixth-bg {
            padding-top: 70px;
            padding-bottom: 70px;
            color: white;
        }

        .content2 {
            display: flex;
            justify-content: space-between;
        }

        .icons-list {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            color: #999999;
        }

        .lower--content {
            margin-top: 120px;
        }

        .mutual--paragraph {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .mutual--span {
            margin-top: 2px;
        }

        .different--span {
            margin-top: 25px;
        }
        
        .mutual-font_size {
            font-size: 20px;
        }

        .right-paragraph_and_icons {
            width: 270px;
        }